<% include /partials/head %>
<% include /partials/header %>
<!---------------------------------------------------------------------------------------------------------------->

<!-- START PARTIAL TEMPLATES -->
<script type="text/template" class="select-user-template"><%= include /partials/computer-list-item-select-user %></script>
<script type="text/template" class="create-user-template"><%= include /partials/computer-list-item-add-user %></script>
<script type="text/template" class="computer-list-item"><%= include /partials/computer-list-item %></script>

<script type="text/template" class="estimate-line-fgwp"><%= include /partials/estimate-lines/fgwp %></script>
<script type="text/template" class="estimate-line-fg"><%= include /partials/estimate-lines/fg %></script>
<script type="text/template" class="estimate-line-pg"><%= include /partials/estimate-lines/pg %></script>
<script type="text/template" class="estimate-line-pi"><%= include /partials/estimate-lines/pi %></script>
<script type="text/template" class="estimate-line-wp"><%= include /partials/estimate-lines/wp %></script>
<script type="text/template" class="estimate-line-ds"><%= include /partials/estimate-lines/ds %></script>
<!-- END PARTIAL TEMPLATES -->

<h1 class="page-title">Sign Up <small>Choose the configuration that works best for you and your family!</small></h1>

<section class="sign-up">
	<div class="col-sm-8">
		<h2><span class="circle">1</span> <small>Personalize Your Computers</small></h2>
		<div class="plan-selector">
			<div class="row">
				<!-- Choose number of computers -->
				<div class="num-computers col-xs-6">
			    <div class="input-group">
	  	      <span class="input-group-btn">
	  	        <button id="remove-computer" class="btn btn-default minus" type="button"><span class="glyphicon glyphicon-minus"></span></button>
	  	      </span>
	  	      <input id="num-computers" type="text" class="form-control" maxlength="2" readonly value="1">    	      
	  	      <span class="input-group-btn">
	            <button id="add-computer" class="btn btn-default plus" type="button"><span class="glyphicon glyphicon-plus"></span></button>
	          </span>
	  	    </div><!-- /input-group -->
	  	    <label for="num-computers" class="control-label">Computers</label>
				</div>
				<div class="tfs-support checkbox col-xs-6">
				  <label>
				    <input type="checkbox" value="tfs-support" disabled>
				    24x7 SUPPORT <small>COMING SOON!</small>
				  </label>
				</div>
			</div>
		</div>
		<!-- COMPUTER LIST -->
		<ul class="computer-list">
			<%= include /partials/computer-list-item %>
		</ul>
	</div>
	<div class="col-sm-4">
		<h2><span class="circle">2</span> <small>Review & Checkout</small></h2>
		<div class="review-checkout">
			<!-- Estimate -->
			<table class="estimate">
				<tbody class="estimate-lines">
					<tr class="pc-guardian">
						<td class="title">PC Guardian</td>
						<td><span class="quantity">1</span></td>
					</tr>
				</tbody>
				<tfoot class="estimate-totals">
					<tr>
						<td>Monthly Cost</td>
						<td><span class="final-price">$29<small>/mo</small></span></td>
					</tr>
					<tr class="setup-cost">
						<td><del>One-Time Setup Cost</del></td>
						<td><del>$49</del></td>
					</tr>
					<tr class="due-today-tr">
						<td>Due Today</td>
						<td><span class="due-today">$29</span></td>
					</tr>
				</tfoot>
			</table>

			<!-- BILLING INFORMATION FORM -->			
			<form novalidate class="billing-info">				
				<fieldset class="primary-account-contact">					
					<h3>Primary Contact</h3>
					<!-- Account Contact -->
					<div class="user form-group">
						<div class="col-xs-12">
							<%= include /partials/computer-list-item-select-user %>
						</div>					
					</div>
				</fieldset>

				<!-- Billing Address -->				
				<fieldset class="billing-address">					
					<h3>Billing Address</h3>
				  <div class="form-group">
				    <div class="col-xs-12">
				      <label class="sr-only">Address 1</label>
			        <input placeholder="Address 1" class="form-control" name="address-1" type="text" required>
				    </div>
				  </div>
				  <div class="form-group">
				    <div class="col-xs-12">
				      <label class="sr-only">Address 2</label>
			        <input placeholder="Address 2" class="form-control" name="address-2" type="text">
				    </div>
				  </div>
				  <div class="form-group">
				    <div class="col-xs-12">
				      <label class="sr-only">City</label>
			        <input placeholder="City" class="form-control" name="city" type="text" required>
				    </div>
				  </div>
				  <div class="form-group">
				    <div class="col-xs-6">
				      <label class="sr-only">State</label>
				      <select name="state" class="form-control">
				      	<option value="" disabled selected>State</option>
				      	<option value="AL">Alabama</option>
				      	<option value="AK">Alaska</option>
				      	<option value="AZ">Arizona</option>
				      	<option value="AR">Arkansas</option>
				      	<option value="CA">California</option>
				      	<option value="CO">Colorado</option>
				      	<option value="CT">Connecticut</option>
				      	<option value="DE">Delaware</option>
				      	<option value="DC">District Of Columbia</option>
				      	<option value="FL">Florida</option>
				      	<option value="GA">Georgia</option>
				      	<option value="HI">Hawaii</option>
				      	<option value="ID">Idaho</option>
				      	<option value="IL">Illinois</option>
				      	<option value="IN">Indiana</option>
				      	<option value="IA">Iowa</option>
				      	<option value="KS">Kansas</option>
				      	<option value="KY">Kentucky</option>
				      	<option value="LA">Louisiana</option>
				      	<option value="ME">Maine</option>
				      	<option value="MD">Maryland</option>
				      	<option value="MA">Massachusetts</option>
				      	<option value="MI">Michigan</option>
				      	<option value="MN">Minnesota</option>
				      	<option value="MS">Mississippi</option>
				      	<option value="MO">Missouri</option>
				      	<option value="MT">Montana</option>
				      	<option value="NE">Nebraska</option>
				      	<option value="NV">Nevada</option>
				      	<option value="NH">New Hampshire</option>
				      	<option value="NJ">New Jersey</option>
				      	<option value="NM">New Mexico</option>
				      	<option value="NY">New York</option>
				      	<option value="NC">North Carolina</option>
				      	<option value="ND">North Dakota</option>
				      	<option value="OH">Ohio</option>
				      	<option value="OK">Oklahoma</option>
				      	<option value="OR">Oregon</option>
				      	<option value="PA">Pennsylvania</option>
				      	<option value="RI">Rhode Island</option>
				      	<option value="SC">South Carolina</option>
				      	<option value="SD">South Dakota</option>
				      	<option value="TN">Tennessee</option>
				      	<option value="TX">Texas</option>
				      	<option value="UT">Utah</option>
				      	<option value="VT">Vermont</option>
				      	<option value="VA">Virginia</option>
				      	<option value="WA">Washington</option>
				      	<option value="WV">West Virginia</option>
				      	<option value="WI">Wisconsin</option>
				      	<option value="WY">Wyoming</option>
				      </select>
				    </div>
				    <div class="col-xs-6">
				      <label class="sr-only">Zip Code</label>
				      <input placeholder="Zip Code" class="form-control zip-code" name="zip" type="text" pattern="\d*" required>
				    </div>
				  </div>
				</fieldset>

				<!-- Credit Card Info -->				
				<fieldset class="credit-card-info">					
					<h3>Credit Card</h3>
				  <div class="form-group">
				    <div class="col-xs-12">
				      <label class="sr-only">Card Number</label>
				      <div class="inner-addon left-addon">                              
				        <input type="text" class="form-control cc-number" pattern="\d*" autocomplete="cc-number" placeholder="Card Number" required>
				        <i class="fa fa-credit-card"></i>
				      </div> 			        
				    </div>
				  </div>
				  <div class="form-group">
				    <div class="col-xs-6">
				      <label class="sr-only">Expiration</label>
				      <input type="text" class="form-control cc-exp" pattern="\d*" autocomplete="cc-exp" placeholder="Expiration" required>
				    </div>
				    <div class="col-xs-6">
				      <label class="sr-only">CVC</label>
				      <input type="text" class="form-control cc-cvc" pattern="\d*" autocomplete="off" placeholder="CVC" required>
				    </div>
				  </div>
				</fieldset>			  

				<!-- Checkout Button -->
				<button type="button" class="submit-btn btn btn-primary btn-lg btn-block">Checkout <span class="fa fa-chevron-right"></span></button>
			</form>
		</div>
	</div>
</section>

<!---------------------------------------------------------------------------------------------------------------->
<% include /partials/footer %>
<% include /partials/foot %>